issamu/nodered-flow-files/Schneider-PM2130.json
[
    {
        "id": "dc0b48ae269910a4",
        "type": "tab",
        "label": "Schneider PM2130",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "da251e6cec94e28e",
        "type": "modbus-flex-sequencer",
        "z": "dc0b48ae269910a4",
        "name": "Schneider PM2130",
        "sequences": [
            {
                "name": "Dummy",
                "unitid": "1",
                "fc": "FC3",
                "address": "0",
                "quantity": "0"
            }
        ],
        "server": "87d9dda487a6cec4",
        "showStatusActivities": true,
        "showErrors": true,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": true,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 230,
        "y": 280,
        "wires": [
            [],
            [
                "2018c5cc5c753199"
            ]
        ]
    },
    {
        "id": "2018c5cc5c753199",
        "type": "switch",
        "z": "dc0b48ae269910a4",
        "name": "Split sequenced polled data",
        "property": "modbusRequest.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Basic Measurements 1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Basic Measurements 2",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Energy Measurements 1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 260,
        "y": 380,
        "wires": [
            [
                "51c949e85e10ce51"
            ],
            [
                "1ca905ba72623b5c"
            ],
            [
                "675221fb3a9f2d34"
            ]
        ]
    },
    {
        "id": "675221fb3a9f2d34",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "Energy Measurements 1",
        "func": "// Round numbers to 2 decimal\nfunction round(num) {\n    return Math.round((num + Number.EPSILON) * 100) / 100\n}\n\n// List of parameter names, scientific notation, and scale\nvar msgList = [\n\t\"kWh_Imp\", \"kWh_Exp\", \"kWh_Total\", \"kWh_Net\", \n\t\"kVARh_Imp\", \"kVARh_Exp\", \"kVARh_Total\", \"kVARh_Net\", \n\t\"kVAh_Imp\", \"kVAh_Exp\", \"kVAh_Total\", \"kVAh_Net\"\n]\nvar msgInfo = [\n\t\"E\", \"E\", \"E\", \"E\", \n\t\"E\", \"E\", \"E\", \"E\", \n\t\"E\", \"E\", \"E\", \"E\", \n]\n\nvar msgScale = [1]\n\n// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\nconst numBytes = buf.length\n\nconst arrTemp = []\nvar i = 0, value\nmsg.payload.data = {}\n\n// Represent these bytes as Float\nwhile (i <= numBytes - 4) {\n    value = buf.readFloatBE(i)\n    arrTemp.push(value)\n    i += 4\n}\n\nfor (i = 0; i < arrTemp.length; i++) {\n    switch (msgInfo[i]) {\n        case \"E\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        default:\n            break;\n    }\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 400,
        "wires": [
            [
                "4a919331a93401a8"
            ]
        ]
    },
    {
        "id": "dc53ee0b3ed836e5",
        "type": "join",
        "z": "dc0b48ae269910a4",
        "name": "",
        "mode": "custom",
        "build": "merged",
        "property": "payload.data",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 790,
        "y": 360,
        "wires": [
            [
                "a29393c4e2a0bb9e",
                "e3b54811ee94e1b9",
                "81bba7e7c30b1889"
            ]
        ]
    },
    {
        "id": "a29393c4e2a0bb9e",
        "type": "debug",
        "z": "dc0b48ae269910a4",
        "name": "complete",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "e3b54811ee94e1b9",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "List Keys",
        "func": "var msgtoFledge = {}\nmsgtoFledge.payload = {}\nvar i\nvar msgInfo = Object.keys(msg.payload.data)\n\nfor (i = 0; i < msgInfo.length; i++) {\n    msgtoFledge.payload[msgInfo[i]] = i\n}\n\nreturn msgtoFledge;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 440,
        "wires": [
            [
                "26c098a81ea468f6"
            ]
        ]
    },
    {
        "id": "26c098a81ea468f6",
        "type": "debug",
        "z": "dc0b48ae269910a4",
        "name": "List Keys",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a919331a93401a8",
        "type": "change",
        "z": "dc0b48ae269910a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "True",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 550,
        "y": 440,
        "wires": [
            [
                "0ae0fbb1c10dc69b",
                "dc53ee0b3ed836e5"
            ]
        ]
    },
    {
        "id": "0ae0fbb1c10dc69b",
        "type": "debug",
        "z": "dc0b48ae269910a4",
        "name": "msg.complete check",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 480,
        "wires": []
    },
    {
        "id": "51c949e85e10ce51",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "Basic Measurements 1",
        "func": "// Round numbers to 2 decimal\nfunction round(num) {\n    return Math.round((num + Number.EPSILON) * 100) / 100\n}\n\n// List of parameter names, scientific notation, and scale\nvar msgList = [\n    \"I1\", \"I2\", \"I3\", \"I4\", \"I0\", \"I_Avg\",\n    \"I1_Unb\", \"I2_Unb\", \"I3_Unb\", \"\",\n    \"L1L2\", \"L2L3\", \"L3L1\", \"LL_Avg\",\n    \"L1\", \"L2\", \"L3\", \"L_Avg\",\n    \"L1L2_Unb\", \"L2L3_Unb\", \"L3L1_Unb\", \"\",\n    \"L1_Unb\", \"L2_Unb\", \"L3_Unb\", \"\"]\nvar msgInfo = [\n    \"I\", \"I\", \"I\", \"I\", \"I\", \"I\",\n    \"Unb\", \"Unb\", \"Unb\", \"\",\n    \"V\", \"V\", \"V\", \"V\",\n    \"V\", \"V\", \"V\", \"V\",\n    \"Unb\", \"Unb\", \"Unb\", \"\",\n    \"Unb\", \"Unb\", \"Unb\", \"\"]\nvar msgScale = [1]\n\n// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\nconst numBytes = buf.length\n\nconst arrTemp = []\nvar i = 0, value\nmsg.payload.data = {}\n\n// Represent these bytes as Float\nwhile (i <= numBytes - 4) {\n    value = buf.readFloatBE(i)\n    arrTemp.push(value)\n    i += 4\n}\n\nfor (i = 0; i < arrTemp.length; i++) {\n    switch (msgInfo[i]) {\n        case \"I\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        case \"V\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        case \"Unb\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        default:\n            break;\n    }\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 320,
        "wires": [
            [
                "dc53ee0b3ed836e5"
            ]
        ]
    },
    {
        "id": "1ca905ba72623b5c",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "Basic Measurements 2",
        "func": "// Round numbers to 2 decimal\nfunction round(num) {\n    return Math.round((num + Number.EPSILON) * 100) / 100\n}\n\n// List of parameter names, scientific notation, and scale\nvar msgList = [\n    \"L1_kW\", \"L2_kW\", \"L3_kW\", \"kW_Total\",\n    \"L1_kVAR\", \"L2_kVAR\", \"L3_kVAR\", \"kVAR_Total\",\n    \"L1_kVA\", \"L2_kVA\", \"L3_kVA\", \"kVA_Total\",\n    \"L1_PF\", \"L2_PF\", \"L3_PF\", \"PF_Total\",\n    \"L1_dPF\", \"L2_dPF\", \"L3_dPF\", \"dPF_Total\",\n    \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"Freq\"\n\n]\n\nvar msgInfo = [\n    \"P\", \"P\", \"P\", \"P\",\n    \"P\", \"P\", \"P\", \"P\",\n    \"P\", \"P\", \"P\", \"P\",\n    \"PF\", \"PF\", \"PF\", \"PF\",\n    \"PF\", \"PF\", \"PF\", \"PF\",\n    \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"\", \"Hz\"\n]\n\nvar msgScale = [1]\n\n// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.payload.buffer);\nconst numBytes = buf.length\n\nconst arrTemp = []\nvar i = 0, value\nmsg.payload.data = {}\n\n// Represent these bytes as Float\nwhile (i <= numBytes - 4) {\n    value = buf.readFloatBE(i)\n    arrTemp.push(value)\n    i += 4\n}\n\nfor (i = 0; i < arrTemp.length; i++) {\n    switch (msgInfo[i]) {\n        case \"P\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        case \"PF\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        case \"Hz\":\n            msg.payload.data[msgList[i]] = round(arrTemp[i] * msgScale[0]);\n            break;\n        default:\n            break;\n    }\n\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 360,
        "wires": [
            [
                "dc53ee0b3ed836e5"
            ]
        ]
    },
    {
        "id": "81c9f76f693fda2b",
        "type": "inject",
        "z": "dc0b48ae269910a4",
        "name": "",
        "props": [
            {
                "p": "connection",
                "v": "{\"connectorType\":\"TCP\",\"tcpHost\":\"1.tcp.ap.ngrok.io\",\"tcpPort\":\"23925\",\"unitID\":1}",
                "vt": "json"
            },
            {
                "p": "payload"
            },
            {
                "p": "timestamp",
                "v": "",
                "vt": "date"
            },
            {
                "p": "httpRequest",
                "v": "{\"server\":\"helios-api\",\"port\":\"15434\"}",
                "vt": "json"
            },
            {
                "p": "typeid",
                "v": "REMS",
                "vt": "str"
            },
            {
                "p": "containerid",
                "v": "FITUI.PH-40.SubStation.MCB",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/1 0-23 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9155fbf24e21ed3a"
            ]
        ]
    },
    {
        "id": "9155fbf24e21ed3a",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "Modbus Override Request",
        "func": "msg.sequences = [\n\n    { name: \"Basic Measurements 1\", fc: 3, address: 2999, unitid: 1, quantity: 50 }, \n    { name: \"Basic Measurements 2\", fc: 3, address: 3053, unitid: 1, quantity: 58 }, \n    { name: \"Energy Measurements 1\", fc: 3, address: 2699, unitid: 1, quantity: 24 }\n\n]\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 240,
        "wires": [
            [
                "da251e6cec94e28e"
            ]
        ]
    },
    {
        "id": "81bba7e7c30b1889",
        "type": "function",
        "z": "dc0b48ae269910a4",
        "name": "REMS Data",
        "func": "let msgOMFWrite = {\n    topic: \"FITUI.PH-40.SubStation.MCB\",\n    timestamp: new Date().toISOString(),\n    payload: {},\n//    quality: 0\n}\n\nlet i, \nmsgInfo = Object.keys(msg.payload.data),\nlist = [\n    0,1,2,5, // Current\n    6,7,8, //Current Unbalance\n    9,10,11,12,13,14,15,16,17,18,19,20,21,22, // Voltage\n    23,24,25,26, // kW\n    27,28,29,30, // kVAR\n    31,32,33,34, // kVA\n    35,36,37,38, // pf\n    43, // Freq\n    44,45,46,47, // kWh\n    48,49,50,51, // kVARh\n    52,53,54,55 // kVAh\n]\n\nfor(i = 0; i < msgInfo.length; i++){\n    if(list.includes(i)){\n        msgOMFWrite.payload[msgInfo[i]] = msg.payload.data[msgInfo[i]]\n    }\n}\n\nreturn msgOMFWrite;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 360,
        "wires": [
            [
                "9ea5f2767f1bdb99"
            ]
        ]
    },
    {
        "id": "feb85c3d91ea4650",
        "type": "debug",
        "z": "dc0b48ae269910a4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1280,
        "y": 360,
        "wires": []
    },
    {
        "id": "9ea5f2767f1bdb99",
        "type": "piwebapi-omf-writer",
        "z": "dc0b48ae269910a4",
        "name": "",
        "server": "6199fb8fb2a82a17",
        "compression": "none",
        "typeContextKey": "omf_types",
        "containerContextKey": "omf_containers",
        "batchSize": 10,
        "flushInterval": 1000,
        "maxRetries": 3,
        "retryDelay": 1000,
        "containeridType": "msg",
        "containerid": "topic",
        "timestampType": "msg",
        "timestamp": "timestamp",
        "valueType": "msg",
        "value": "payload",
        "qualityType": "msg",
        "quality": "quality",
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "feb85c3d91ea4650"
            ]
        ]
    },
    {
        "id": "87d9dda487a6cec4",
        "type": "modbus-client",
        "name": "Ngrok Modbus TCP Converter",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "1.tcp.ap.ngrok.io",
        "tcpPort": "23925",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 25,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "6199fb8fb2a82a17",
        "type": "piwebapi-config",
        "name": "PI-SVR.local",
        "baseUrl": "https://10.10.20.7/piwebapi",
        "authMethod": "basic",
        "verifySsl": false,
        "afServer": "",
        "piServer": "",
        "afDatabase": ""
    }
]